body {background:url("../img/wallpaper_laranja.jpg");} /*#295BA4;*/
input {border:1px solid #A6A6A6;-moz-border-radius-bottomleft: 3px;-moz-border-radius-bottomright: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-topright: 3px;background-image: url("../../../../imgs/gravatar-vertical-sprite.png");background-position: 0 -150px;padding: 7px 7px 7px 7px}
form.cmxform label.error, label.error{color: red;font-style: italic}
form.cmxform .gray *{color: gray;}
div.error{display:none;}
input:focus{border:1px solid #CCC;background:#F8FDEF;}
input.error{border: 1px solid red;}
.cadeado {width:100px; height:105px; background:url("../img/u2.png") no-repeat;}
.listName{padding:6px; font-weight: bold; color:#E09D56; text-shadow: 2px 2px 2px #E09D56;}
.label{min-width: 60px; height:30px; text-align: right; font-size: 13px;}
.info{color:#E09D56; font-size:13px; text-align: center}
#imgTransacao{float: left;}
#msgTransacaoNegada{color: red}
.caps{color:red; height:15px; font-weight: bold;}
.main{background: transparent;width:  450px;height: 234px;margin: -150px 0 0 -214px;position:absolute;text-align:center;top:50%;left:50%;}
.container {position:absolute;top:52px; right:10px;bottom:50px; border:1px solid #888888;left:10px;background:#fcfcfc;}
.tituloSite {text-align:center; padding-top:13%; color: #f0f0f0;font-family: arial;font-size: 22pt; text-shadow: 2px 2px 2px #000;}
.labelLeft, .labelRight{width: 36%; float:left; text-align: right; height: 80px; margin: 5px}
.labelRight{width: 50%; border-left:2px solid #D3D3C8; text-align: left; padding: 5px}
.labelRight #fontBlack {color:#C96463}
.labelRight #fontGeral {color:#f1f1f1; font-size: 20px}
